<div class="container">
  <form (ngSubmit)="login(loginForm)" (keyup.enter)="login(loginForm)" #loginForm="ngForm">
    <mat-card class="box">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput type="email" name="email" [(ngModel)]="email" required>
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">
          {{ isLoading ? 'Processing': 'Submit' }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
